@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&family=Roboto:ital,wght@0,400;0,500;1,900&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}
span{
    color: #00B0F0;
}
h1{
    color: #00B0F0;
    font-size: 2.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
h2{
    color: #D8D8D8;
    font-size: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
p{
    color: #D8D8D8;
    font-size: 1.3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}



/*Presentation Section*/
#presentation{
    border: 2px solid #00B0F0;
    border-radius: 50px;
}

#presentation h1{
    margin-top: 50px;
}
#presentation h2{
    margin-top: 50px;
    color: #FFE512;
    text-transform: uppercase;
}
#presentation p{
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FF4A4A;
}
/*End Presentation Section*/



/*Video Section*/
video{
    display: block;
    margin: 0 auto;
    width: 98%;
    border-radius: 50px;
}
#video{
    margin-top: 150px;
}
#video p{
    flex-direction: column;
    margin-top: 20px;
}
/*End Video Section*/



/*Buttons Section*/
#links{
    margin-top: 150px;
}
a{
    text-decoration: none;
}
.cta{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 1000;
}

#but1 .cta{
    border: 2px solid #00B0F0;
    background-color: #00B0F0;
    color: black;
}
#but1 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but2 .cta{
    border: 2px solid #57B1FB;
    background-color: #57B1FB;
    color: black;
}
#but2 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but3 .cta{
    border: 2px solid #002060;
    background-color: #002060;
    color: white;
}
#but3 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but4 .cta{
    border: 2px solid #7BF600;
    background-color: #7BF600;
    color: black;
}
#but4 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but5 .cta{
    border: 2px solid #00CC00;
    background-color: #00CC00;
    color: black;
}
#but5 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but6 .cta{
    border: 2px solid #00F692;
    background-color: #00F692;
    color: black;
}
#but6 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but7 .cta{
    border: 2px solid #EC1D24;
    background-color: #EC1D24;
    color: white;
}
#but7 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but8 .cta{
    border: 2px solid #FF3300;
    background-color: #FF3300;
    color: black;
}
#but8 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but9 .cta{
    border: 2px solid #C80000;
    background-color: #C80000;
    color: white;
}
#but9 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but10 .cta{
    border: 2px solid #262626;
    background-color: #262626;
    color: white;
}
#but10 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but11 .cta{
    border: 2px solid #3B3838;
    background-color: #3B3838;
    color: white;
}
#but11 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but12 .cta{
    border: 2px solid #7F7F7F;
    background-color: #7F7F7F;
    color: black;
}
#but12 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but13 .cta{
    border: 2px solid #FBDE05;
    background-color: #FBDE05;
    color: black;
}
#but13 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but14 .cta{
    border: 2px solid #F8FB71;
    background-color: #F8FB71;
    color: black;
}
#but14 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but15 .cta{
    border: 2px solid #A6A200;
    background-color: #A6A200;
    color: black;
}
#but15 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but16 .cta{
    border: 2px solid #CC00CC;
    background-color: #CC00CC;
    color: black;
}
#but16 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but17 .cta{
    border: 2px solid #9900CC;
    background-color: #9900CC;
    color: white;
}
#but17 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}

#but18 .cta{
    border: 2px solid #660066;
    background-color: #660066;
    color: white;
}
#but18 .cta:hover{
    color: white;
    background-color: #1B1B1B;
}
/*End Buttons Section*/